#Q1. Explain with an example each when to use a for loop and a while loop.

Q2.Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [1]:
sum=0
for i in range(1,11):
    sum=sum+i
sum

55

In [2]:
product=1
for i in range(1,11):
    product=i*product
product

3628800

using while loop

In [3]:
sum=0
counter=1
while(counter<=10):
    sum=sum+counter
    counter+=1
sum

55

In [4]:
product=1
counter=1
while(counter<=10):
    product=product*counter
    counter+=1
product

3628800

In [5]:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print(sum)
print(product)

55
3628800

In [6]:
product=1
counter=1
sum=0
while(counter<=10):
    sum=sum+counter
    product=product*counter
    counter+=1
print(sum)
print(product)

55
3628800

Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [51]:
units=int(input("enter the units"))
if (units<=100):
    bill=units*4.5
    print("the bill of 100 units is:",bill)
elif(units<=200):
    bill=100 * 4.5 + (units - 100) * 6
    print("the bill of 200 units is:",bill)
elif(units<=300):
    bill=100 * 4.5 + 100 * 6 + (units - 200) * 10
    print("the bill of 300 units is:",bill)
# elif(units>300):
#     bill=units*20
#     print("the bill of above 300 units is:",bill)
else:
    bill=100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
    print("the bill of above 300 units is:",bill)

enter the units310
the bill of above 300 units is: 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list

In [15]:
my_list=list(range(1,101))

In [16]:
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [22]:

for i in my_list:
    cube=i**3
    print("the cube of each number",i,"*",i,'*',i,cube)

the cube of each number 1 * 1 * 1 1
the cube of each number 2 * 2 * 2 8
the cube of each number 3 * 3 * 3 27
the cube of each number 4 * 4 * 4 64
the cube of each number 5 * 5 * 5 125
the cube of each number 6 * 6 * 6 216
the cube of each number 7 * 7 * 7 343
the cube of each number 8 * 8 * 8 512
the cube of each number 9 * 9 * 9 729
the cube of each number 10 * 10 * 10 1000
the cube of each number 11 * 11 * 11 1331
the cube of each number 12 * 12 * 12 1728
the cube of each number 13 * 13 * 13 2197
the cube of each number 14 * 14 * 14 2744
the cube of each number 15 * 15 * 15 3375
the cube of each number 16 * 16 * 16 4096
the cube of each number 17 * 17 * 17 4913
the cube of each number 18 * 18 * 18 5832
the cube of each number 19 * 19 * 19 6859
the cube of each number 20 * 20 * 20 8000
the cube of each number 21 * 21 * 21 9261
the cube of each number 22 * 22 * 22 10648
the cube of each number 23 * 23 * 23 12167
the cube of each number 24 * 24 * 24 13824
the cube of each number 25 * 25 * 25 15625
the cube of each number 26 * 26 * 26 17576
the cube of each number 27 * 27 * 27 19683
the cube of each number 28 * 28 * 28 21952
the cube of each number 29 * 29 * 29 24389
the cube of each number 30 * 30 * 30 27000
the cube of each number 31 * 31 * 31 29791
the cube of each number 32 * 32 * 32 32768
the cube of each number 33 * 33 * 33 35937
the cube of each number 34 * 34 * 34 39304
the cube of each number 35 * 35 * 35 42875
the cube of each number 36 * 36 * 36 46656
the cube of each number 37 * 37 * 37 50653
the cube of each number 38 * 38 * 38 54872
the cube of each number 39 * 39 * 39 59319
the cube of each number 40 * 40 * 40 64000
the cube of each number 41 * 41 * 41 68921
the cube of each number 42 * 42 * 42 74088
the cube of each number 43 * 43 * 43 79507
the cube of each number 44 * 44 * 44 85184
the cube of each number 45 * 45 * 45 91125
the cube of each number 46 * 46 * 46 97336
the cube of each number 47 * 47 * 47 103823
the cube of each number 48 * 48 * 48 110592
the cube of each number 49 * 49 * 49 117649
the cube of each number 50 * 50 * 50 125000
the cube of each number 51 * 51 * 51 132651
the cube of each number 52 * 52 * 52 140608
the cube of each number 53 * 53 * 53 148877
the cube of each number 54 * 54 * 54 157464
the cube of each number 55 * 55 * 55 166375
the cube of each number 56 * 56 * 56 175616
the cube of each number 57 * 57 * 57 185193
the cube of each number 58 * 58 * 58 195112
the cube of each number 59 * 59 * 59 205379
the cube of each number 60 * 60 * 60 216000
the cube of each number 61 * 61 * 61 226981
the cube of each number 62 * 62 * 62 238328
the cube of each number 63 * 63 * 63 250047
the cube of each number 64 * 64 * 64 262144
the cube of each number 65 * 65 * 65 274625
the cube of each number 66 * 66 * 66 287496
the cube of each number 67 * 67 * 67 300763
the cube of each number 68 * 68 * 68 314432
the cube of each number 69 * 69 * 69 328509
the cube of each number 70 * 70 * 70 343000
the cube of each number 71 * 71 * 71 357911
the cube of each number 72 * 72 * 72 373248
the cube of each number 73 * 73 * 73 389017
the cube of each number 74 * 74 * 74 405224
the cube of each number 75 * 75 * 75 421875
the cube of each number 76 * 76 * 76 438976
the cube of each number 77 * 77 * 77 456533
the cube of each number 78 * 78 * 78 474552
the cube of each number 79 * 79 * 79 493039
the cube of each number 80 * 80 * 80 512000
the cube of each number 81 * 81 * 81 531441
the cube of each number 82 * 82 * 82 551368
the cube of each number 83 * 83 * 83 571787
the cube of each number 84 * 84 * 84 592704
the cube of each number 85 * 85 * 85 614125
the cube of each number 86 * 86 * 86 636056
the cube of each number 87 * 87 * 87 658503
the cube of each number 88 * 88 * 88 681472
the cube of each number 89 * 89 * 89 704969
the cube of each number 90 * 90 * 90 729000
the cube of each number 91 * 91 * 91 753571
the cube of each number 92 * 92 * 92 778688
the cube of each number 93 * 93 * 93 804357
the cube of each number 94 * 94 * 94 830584
the cube of each number 95 * 95 * 95 857375
the cube of each number 96 * 96 * 96 884736
the cube of each number 97 * 97 * 97 912673
the cube of each number 98 * 98 * 98 941192
the cube of each number 99 * 99 * 99 970299
the cube of each number 100 * 100 * 100 1000000

In [25]:
l1=[]
for i in my_list:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l1.append(cube)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [26]:
len(l1)

60

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [44]:
count=0
s="I want to become a data scientist"
vowels='aieouAIOUE'
for i in s:
    if i in vowels:
        count+=1
print(count)

12

0